{% extends "layout.html" %}

{% block title %}
Complejo Deportivo | {{ block.super }}
{% endblock %}

{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/home/home.css' %}" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    type="text/css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css">
{% endblock %}

{% block container %}

<div class="owl-carousel">
    <div class="item active">
        <img src="{% static 'complejos_deportivos/1.jpg' %}" alt="Cancha de pádel y campo de fútbol" style="filter: brightness(50%);">
    </div>
    <div class="item">
        <img src="{% static 'complejos_deportivos/2.jpg' %}" alt="Cancha de pádel y campo de fútbol" style="filter: brightness(50%);">
        <div class="carousel-caption">
            <h3>Nuestro Complejo Deportivo</h3>
            <p>Descubre nuestras instalaciones de pádel y fútbol.</p>
        </div>
    </div>
    <div class="item">
        <img src="{% static 'complejos_deportivos/3.jpg' %}" alt="Cancha de pádel y campo de fútbol" style="filter: brightness(50%);">
    </div>
</div>



<div class="nosotros row align-items-center" data-aos="fade-left">
    <div class="col-lg-6 col-md-12 text-center">
        <img src="https://www.chiguayante.cl/images/boxveterinario/fdsfdf.png" alt="Descripción de la imagen" class="img-fluid">
    </div>
    <div class="col-lg-6 col-md-12">
        <h2 class="text-left">Misión y Visión</h2>
        <p class="text-left">Nuestra misión es proporcionar un ambiente deportivo excepcional, fomentando la actividad física y la camaradería. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero velit deleniti illo iure molestiae voluptatum fugit sequi harum tempora, eius ipsam dolore alias ut maiores pariatur, nostrum, illum inventore eveniet ducimus!</p>
    </div>
</div>

<div class="servicio owl-carousel">
    <div class="item">
        <h3>Pádel</h3>
        <p>Disfruta de nuestras modernas canchas de pádel, diseñadas para brindar la mejor experiencia a jugadores de todos los niveles. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum voluptate odit rem ea perspiciatis corrupti quisquam, quis adipisci, quam enim dolorem modi eius, natus ipsam quidem amet temporibus nesciunt. Neque!</p>
    </div>
    <div class="item">
        <h3>Fútbol</h3>
        <p>Vive la pasión por el fútbol en nuestros campos de última generación. Ofrecemos espacios ideales para partidos amistosos, entrenamientos y competiciones. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum voluptate odit rem ea perspiciatis corrupti quisquam, quis adipisci, quam enim dolorem modi eius, natus ipsam quidem amet temporibus nesciunt. Neque!</p>
    </div>
</div>

<div class="nosotros row align-items-center" data-aos="fade-left">
    <div class="col-lg-6 col-md-12">
        <h2 class="text-right">Misión y Visión</h2>
        <p class="text-right">Nuestra misión es proporcionar un ambiente deportivo excepcional, fomentando la actividad física y la camaradería. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero velit deleniti illo iure molestiae voluptatum fugit sequi harum tempora, eius ipsam dolore alias ut maiores pariatur, nostrum, illum inventore eveniet ducimus!</p>
    </div>
    <div class="col-lg-6 col-md-12 text-center">
        <img src="https://www.observatorioreconstruccion.cl/images/uploads/complejo-deportivo.jpg" alt="Descripción de la imagen" class="img-fluid">
    </div>
</div>

<br>
<br>
<br>
<div class="contador" data-aos="fade-up">
    <h1>¡Ya somos <span id="contador-somos">0</span> registrados en nuestro complejo deportivo!</h1>
</div>
<br>
{% include 'partials/footer.html' %} 
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>

<script>
    $(document).ready(function () {
        // Configuración del carrusel principal
        $('.owl-carousel').owlCarousel({
            items: 1,
            loop: true,
            margin: 0,
            nav: false,
            dots: false,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplayHoverPause: true
        });

        // Inicialización de AOS (Animate On Scroll)
        AOS.init();

        var contadorNumero = 0;
        var intervalo;

        function aumentarContador() {
            contadorNumero++;
            $('#contador-somos').text(contadorNumero);

            if (contadorNumero < 1000) {
                intervalo = setTimeout(aumentarContador, 30); // Ajusta la velocidad aquí (en milisegundos)
            }
        }

        // Contador de registrados al hacer scroll
        $(window).scroll(function () {
            var nosotrosTop = $('.nosotros').offset().top;
            var windowHeight = $(window).height();
            var scrollTop = $(window).scrollTop();

            if (scrollTop + windowHeight > nosotrosTop && contadorNumero === 0) {
                contadorNumero++;
                aumentarContador();
            }
        });

        // Configuración del carrusel de servicios
        $('.servicio.owl-carousel').owlCarousel({
            items: 1,
            loop: true,
            margin: 10,
            nav: true,
            dots: false,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplayHoverPause: true
        });
    });
</script>
{% endblock %}
